@charset "UTF-8";

* {
	font-family: "Noto Sans KR", sans-serif;
	/* 전체 폰트 설정 */
	margin: 0;
	padding: 0;
}

.mySwiper {
	/* layout */
	display: flex;
	flex-wrap: nowrap;
	/* 컨테이너의 내용물이 컨테이너 크기(width, height)를 넘어설 때 보이지 않도록 하기 위해 hidden을 준다. */
	overflow: hidden;

	/* position */
	/* slide_button의 position absolute가 컨테이너 안쪽에서 top, left, right offset이 적용될 수 있도록 relative를 준다. (기본값이 static인데, static인 경우 그 상위 컨테이너로 나가면서 현재 코드에선 html을 기준으로 offset을 적용시키기 때문) */
	position: relative;

	/* size */
	width: 100%;
	height: 600px;

	/* location */
	margin: 110px auto 60px auto;

	/* slide drag를 위해 DOM요소가 드래그로 선택되는것을 방지 */
	user-select: none;
}

swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

swiper-slide img {
	width: 100%;
	height: 100%;
}